flows.json
[{"id":"8a4bd35a.5d79b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ced850f.001a7b","type":"ui_form","z":"8a4bd35a.5d79b","name":"","label":"","group":"12989343.7289bd","order":1,"width":0,"height":0,"options":[{"label":"Preg","value":"pr","type":"number","required":true,"rows":null},{"label":"Plas","value":"pl","type":"number","required":true,"rows":null},{"label":"Pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"Test","value":"te","type":"number","required":true,"rows":null},{"label":"Mass","value":"ma","type":"number","required":true,"rows":null},{"label":"Pedi","value":"pe","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pr":"","pl":"","sk":"","te":"","ma":"","pe":"","ag":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":240,"wires":[["6993d7f8.b20b68","89ad45da.1c9dc8"]]},{"id":"6993d7f8.b20b68","type":"debug","z":"8a4bd35a.5d79b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":360,"wires":[]},{"id":"89ad45da.1c9dc8","type":"function","z":"8a4bd35a.5d79b","name":"pre-token","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nvar apikey=\"3e9fe2b8-4ea9-4255-b7e9-7127dd1002be\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":140,"wires":[["30f0a7a2.6b9ac8"]]},{"id":"30f0a7a2.6b9ac8","type":"http request","z":"8a4bd35a.5d79b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":224.00000286102295,"wires":[["eef7bcaf.650d2","322189d9.1bda46"]]},{"id":"eef7bcaf.650d2","type":"debug","z":"8a4bd35a.5d79b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":280,"wires":[]},{"id":"322189d9.1bda46","type":"function","z":"8a4bd35a.5d79b","name":"Pre Prediction","func":"var rd = global.get(\"rd\")\nvar ms = global.get(\"ms\")\nvar ad = global.get(\"ad\")\nvar st = global.get(\"st\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"R&D Spend\", \"Administration\", \"Marketing Spend\", \"State\"]],\"values\": [[rd,ad,ms,st]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":176.0000021457672,"wires":[["130991a0.ac8b7e"]]},{"id":"130991a0.ac8b7e","type":"http request","z":"8a4bd35a.5d79b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/ebfda64c-9553-4ad1-b8fe-d47b533990ae/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":200,"wires":[["5057849.55dbb7c","af62bd02.e5d05"]]},{"id":"5057849.55dbb7c","type":"debug","z":"8a4bd35a.5d79b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":962.9999914169312,"y":284.00000381469727,"wires":[]},{"id":"e87d03fc.fb455","type":"inject","z":"8a4bd35a.5d79b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["89ad45da.1c9dc8"]]},{"id":"c6553056.94259","type":"debug","z":"8a4bd35a.5d79b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":793.9999885559082,"y":67.0000057220459,"wires":[]},{"id":"af62bd02.e5d05","type":"function","z":"8a4bd35a.5d79b","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":108.00000190734863,"wires":[["c6553056.94259","a6b1739f.66e38"]]},{"id":"a6b1739f.66e38","type":"ui_text","z":"8a4bd35a.5d79b","group":"12989343.7289bd","order":2,"width":0,"height":0,"name":"","label":"Diabetes Prediction","format":"{{msg.payload.cl}}","layout":"row-spread","x":787.6000366210938,"y":341.20001220703125,"wires":[]},{"id":"12989343.7289bd","type":"ui_group","z":"","name":"Enter the Parameters","tab":"9973d79f.8f64a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9973d79f.8f64a8","type":"ui_tab","z":"","name":"Diabetes mellitus prediction using IBM Auto AI","icon":"dashboard","disabled":false,"hidden":false}]